     <div id='pomodoro_tile'>
       <div id='pomodoro_header'>
         <img src='images/pomodoro.png' width='20px'>
         <a href='#'><span class='pull-right'>X</span></a>
         <a href='#'><span class='pull-right'>_</span></a>
       </div>
       <div id='pomodoro_body'>
         <!-- Static navbar -->
         <nav class='navbar navbar-default'>
           <div class='container'>
             <div id='navbar' class='navbar-collapse collapse'>
               <ul class='nav navbar-nav'>
                 <li><a ng-click='newTask()' href='#'><div><span class='glyphicon glyphicon-plus text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>New Task</div></a></li>
                 <li><a ng-click='localFunc({msg:mydata})' href='#'><div><span class='glyphicon glyphicon-ok text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Complete</div></a></li>
                 <li><a ng-click='localFunc({msg:mydata})' href='#'><div><span class='glyphicon glyphicon-time text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Start</div></a></li>
                 <li><a ng-click='localFunc({msg:mydata})' href='#'><div><span class='glyphicon glyphicon-play text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Continue</div></a></li>
                 <li><a ng-click='localFunc({msg:mydata})' href='#'><div><span class='glyphicon glyphicon-pause text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Pause</div></a></li>
                 <li><a ng-click='localFunc({msg:mydata})' href='#'><div><span class='glyphicon glyphicon-wrench text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Settings</div></a></li>
               </ul>
             </div><!--/.nav-collapse -->
           </div><!--/.container-fluid -->
         </nav>
         Hello Mate!
       </div>
     </div>
      
     <div id='tomato'>
       <a href='#' title='Work on Pomodoro zipline, 23.7 minutes remaining'>
         <div class='tomato_container'>
            <div class='countdown'><strong>24</strong></div>
            <img src='images/pomodoro.png'>
         </div>
       </a>
     </div>