<div id='pomodoro_tile' ng-show='controlDisplay'>
  <div id='pomodoro_header'>
    <img src='images/pomodoro.png' width='20px'>
    <a href='#' ng-click="cancelControl()"><span class='pull-right'>X</span></a>
  </div>
  <div id='pomodoro_body'>
    <!-- Static navbar -->
    <nav class='navbar navbar-default'>
      <div class='container'>
        <div id='navbar' class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
            <li><a ng-click='newTask()' href='#'><div><span class='glyphicon glyphicon-plus text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>New Task</div></a></li>
            <li><a ng-click='completeTask()' href='#'><div><span class='glyphicon glyphicon-ok text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Complete</div></a></li>
            <li><a ng-click='startTask()' href='#'><div><span class='glyphicon glyphicon-time text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Start</div></a></li>
            <li><a ng-click='continueTask()' href='#'><div><span class='glyphicon glyphicon-play text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Continue</div></a></li>
            <li><a ng-click='pauseTask()' href='#'><div><span class='glyphicon glyphicon-pause text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Pause</div></a></li>
            <li><a ng-click='displaySettings()' href='#'><div><span class='glyphicon glyphicon-wrench text-center' aria-hidden='true'></span></div><div class='button-caption text-center'>Settings</div></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
    </nav>



    <div class="container-fluid">
      <div class="row">
          <div class="panel panel-default task-header">

            <table class="table table-fixed">
              <thead>
                <tr>
                  <!--<th class="col-xs-2">#</th><th class="col-xs-8">Name</th><th class="col-xs-2">Points</th>-->
                  <th class='col-xs-1 text-center'>#</th>
                  <th class='col-xs-3 text-center'>Task</th>        
                  <th class='col-xs-2 text-center'>Priority</th>
                  <th class='col-xs-6'>Detail</th>
                </tr>
              </thead>
            </table>
          </div>
      </div>
      <div class="row">
          <div class="panel panel-default task-display table-responsive">

            <table class="table table-fixed">

              <tbody>

            <tr ng-repeat='item in tasks' ng-click='rowClick($index)' ng-class="{'info':$index == activeRow}">
              <td class='col-xs-1 text-center'>{{ $index + 1 }}</td>
              <td class='col-xs-3 text-center'>{{ truncate(item.name,18) }}</td>
              
              <td class='col-xs-2 text-center'>{{ truncate(item.priority,3) }}</td>
              <td class='col-xs-6'>{{ item.detail }}</td>       
            </tr>

              </tbody>
            </table>
          </div>
      </div>
    </div>

 </div>
</div>

<div id='settings' ng-show='settingsDisplay'>
  <div id='settings_header'>
    <img src='images/pomodoro.png' width='20px'>
    <a ng-click='cancelSettings()' href='#'><span class='pull-right'>X</span></a>
  </div>
  <div id='settings_body'>

    <div class='container-fluid'>

      <div class="row">
        <div class="col-md-12">
          <h4 class='text-center'>Settings</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          Work Timer: (minutes)
        </div>
        <div class='col-md-4'>
          <input type="text" class="form-control" aria-label="..." ng-model='settingsWorkTimer'>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          Rest Timer: (minutes)
        </div>
        <div class='col-md-4'>
          <input type="text" class="form-control" aria-label="..." ng-model='settingsRestTimer'>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9">
          Alarm when timer expires:
        </div>
        <div class='col-md-3'>
          <input type="checkbox" aria-label="..." ng-model='settingsAlarmWhenTimerExpires'>
        </div>
      </div>

      <div id="settings_buttons" class="row">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-primary" ng-click='updateSettings()'>Update</button>
        </div>
        <div class='col-md-6'>
          <button type="button" class="btn btn-default" ng-click='cancelSettings()'>Cancel</button>
        </div>
      </div>


    </div>
  </div>
</div>

<div id='newTask' ng-show='newTaskDisplay'>
  <div id='newTask_header'>
    <img src='images/pomodoro.png' width='20px'>
    <a ng-click='cancelNewTask()' href='#'><span class='pull-right'>X</span></a>
  </div>
  <div id='newTask_body'>

    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-12">
          <h4 class='text-center'>New Task</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          Task
        </div>
        <div class='col-md-9'>
          <input type="text" class="form-control" aria-label="..." ng-model='task'>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          Priority
        </div>
        <div class='col-md-6'>
          <input type="text" class="form-control" aria-label="..." ng-model='priority'>
        </div>
      </div>      
      <div class="row">
        <div class="col-md-2">
          Detail
        </div>
        <div class='col-md-10'>
          <input type="text" class="form-control" aria-label="..." ng-model='detail'>
        </div>
      </div>      
      <div id="newTask_buttons" class="row">
        <div class="col-md-offset-2 col-md-4">
          <button type="button" class="btn btn-primary" ng-click='updateNewTask()'>Update</button>
        </div>
        <div class='col-md-6'>
          <button type="button" class="btn btn-default" ng-click='cancelNewTask()'>Cancel</button>
        </div>
      </div>


    </div>
  </div>
</div>


<a href='#' title='{{hoverMessage}}'>
  <div class='red_tomato' ng-click='displayControl()' ng-show='currentlyWorking'>
    <div class='tomato_container'>
      <div class='red_countdown text-center' ng-class="{'red_single_countdown':singleCountdown}"><strong>{{tomatoTime}}</strong></div>
      <img src='images/pomodoro.png' width='60px'>
    </div>
  </div>
</a>

<a href='#' title='{{hoverMessage}}'> 
  <div class='green_tomato' ng-click='displayControl()' ng-hide='currentlyWorking'>
    <div class='tomato_container'>
      <div class='green_countdown text-center' ng-class="{'green_single_countdown':singleCountdown}"><strong>{{tomatoTime}}</strong></div>
      <img src='images/tomato_green.png' width='52px'>
    </div>
  </div>
</a>